<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Contact us form - New visitor message</title>  
  </head>
  <body>
    <h2 style="color:#c90c61">Contact us form - New visitor message</h2>
    <p>Make every interaction count, even the small ones. They are all relevant. ~ Shep Hyken</p>
    <br></br>
    <h3> Name: <%= @name %> </h3>
    <br></br>
    <h3> Email: <%= @email %> </h3>
    <br></br>
    <h3> Message: <%= @message %> </h3>
  </body>
</html>
