<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Contact us form - New visitor message</title>  
  </head>
  <body>
    <h2 style="color:#c90c61">Contact us form - New visitor message</h2>
    <h4><i>Make every interaction count, even the small ones. They are all relevant. ~ Shep Hyken</i></h4>
    <br />
    <p><u>Name:</u> <%= @name %> </p>
    <br />
    <p><u>Email:</u> <%= @email %> </p>
    <br />
    <p><u>Message:</u> <%= @message %> </p>
  </body>
</html>
