<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Stripe Dsipute or Fraud Notification</title>  
  </head>
  <body>
    <h2 style="color:#c90c61">Dispute/Fraud notification from kattBNB server</h2>
    <p>A dispute or fraud event was received from our Stripe webhook. Please login <a href="https://dashboard.stripe.com/login" target="_blank">here</a> to check it out.</p>
  </body>
</html>
