<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Stripe Webhook Notifications</title>  
  </head>
  <body>
    <h2 style="color:#c90c61">Error notification from kattBNB server</h2>
    <p>During the receipt of an event via our webhook, Stripe encountered an error. Please login <a href="https://dashboard.stripe.com/login" target="_blank">here</a> to check it out.</p>
  </body>
</html>
