<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Bookings Revenue & VAT</title>  
  </head>
  <body>
    <h2 style="color:#c90c61">Please update the spreadsheet with the information below</h2>
    <h5> Host nickname: <%= @host %> </h5>
    <h5> Booking length: <%= @days %> </h5>
    <h5> Host got paid: <%= @host_price %> </h5>
  </body>
</html>
